# Bonus: Temperature Analysis I

In [2]:
import pandas as pd
from datetime import datetime as dt

In [3]:
from scipy.stats import ttest_ind
import csv

In [60]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df

           station        date  prcp  tobs
0      USC00519397  2010-01-01  0.08    65
1      USC00519397  2010-01-02  0.00    63
2      USC00519397  2010-01-03  0.00    74
3      USC00519397  2010-01-04  0.00    76
4      USC00519397  2010-01-06   NaN    73
...            ...         ...   ...   ...
19545  USC00516128  2017-08-19  0.09    71
19546  USC00516128  2017-08-20   NaN    78
19547  USC00516128  2017-08-21  0.56    76
19548  USC00516128  2017-08-22  0.50    76
19549  USC00516128  2017-08-23  0.45    76

[19550 rows x 4 columns]

In [61]:
# Convert the date column format from string to datetime

df['date']= pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  datetime64[ns]
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 534.6+ KB

In [50]:
# Set the date column as the DataFrame index
temp_df=df.set_index('date')

In [51]:
#temp_df = temp_df.reset_index(drop=True)
temp_df

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [73]:
from scipy import stats

In [74]:
# Filter data for desired months
# June
june_temp_list= temp_df[temp_df.index.month.isin([6])]
june_temp_list

                station  prcp  tobs
date
2010-06-01  USC00519397  0.00    78
2010-06-02  USC00519397  0.01    76
2010-06-03  USC00519397  0.00    78
2010-06-04  USC00519397  0.00    76
2010-06-05  USC00519397  0.00    77
...                 ...   ...   ...
2017-06-26  USC00516128  0.02    79
2017-06-27  USC00516128  0.10    74
2017-06-28  USC00516128  0.02    74
2017-06-29  USC00516128  0.04    76
2017-06-30  USC00516128  0.20    75

[1700 rows x 3 columns]

In [75]:
#Dec
dec_temp_list= temp_df[temp_df.index.month.isin([12])]
dec_temp_list

                station  prcp  tobs
date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64
...                 ...   ...   ...
2016-12-27  USC00516128  0.14    71
2016-12-28  USC00516128  0.14    71
2016-12-29  USC00516128  1.03    69
2016-12-30  USC00516128  2.37    65
2016-12-31  USC00516128  0.90    65

[1517 rows x 3 columns]

In [81]:
# Identify the average temperature for June
june_temp =june_temp_list.tobs.mean()
print(f"The average temperature in June at all stations across all available years in the dataset is {june_temp} F.")

The average temperature in June at all stations across all available years in the dataset is 74.94411764705882 F.

In [82]:
# Identify the average temperature for Dec
dec_temp =dec_temp_list.tobs.mean()
print(f"The average temperature in Dec at all stations across all available years in the dataset is {dec_temp} F.")

The average temperature in Dec at all stations across all available years in the dataset is 71.04152933421226 F.

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test

### Analysis

In [63]:
# Dependencies

from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float

In [64]:
# Create Measurement Class
# ----------------------------------

# Sets an object to utilize the default declarative base in SQL Alchemy
Base = declarative_base()

# Creates Classes which will serve as the anchor points for our Tables
class Measurement(Base):
    __tablename__ = 'measurement'
    date = Column(Integer, primary_key=True)
    station = Column(String(50))
    prcp = Column(Float)
    tobs = Column(Float)
    
    def __repr__(self):
        return f"id={self.date}, name={self.station}"

In [ ]:
# Create Database Connection
# ----------------------------------

engine = create_engine(f"sqlite:///{database_path}")
conn = engine.connect()

In [66]:
# Create a "Metadata" Layer That Abstracts our SQL Database
# ----------------------------------
Base.metadata.create_all(engine)

In [ ]:
# Filter data for desired months

#June
june_temp_list = session.query(Measurement.tobs).\
                filter(func.strftime("%m", Measurement.date) == "06").all()

june_temps = list(np.ravel(june_temp_list))

# Dec
dec_temp_list = session.query(Measurement.tobs).\
                filter(func.strftime("%m", Measurement.date) == "12").all()

dec_temps = list(np.ravel(dec_temp_list))

In [ ]:
# Identify the average temperature for June
avg_june_temp= session.query(func.avg(Measurement.tobs)).\
                filter(func.strftime("%m", Measurement.date) == "06").all()

june_temp = list(np.ravel(avg_june_temp))[0]

print(f"The average temperature in June at all stations across all available years in the dataset is {june_temp} F.")

In [ ]:
# Identify the average temperature for December
avg_dec_temp = session.query(func.avg(Measurement.tobs)).\
                filter(func.strftime("%m", Measurement.date) == "12").all()

dec_temp = list(np.ravel(avg_dec_temp_list))[0]

print(f"The average temperature in December at all stations across all available years in the dataset is {dec_temp} F.")

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test